.btnSave {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 500px;
  background-color: #515585;
  color: black;
  width: 80px;
  height: 50px;
  border: 1px solid #050001;
  color: #fff;
  border-radius: 9px;
  font-size: 16px;
}

@media (max-width: 576px) {
  .btnSave {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 300px;
    width: 60px;
    height: 30px;
    border: 1px solid #050001;
    border-radius: 9px;
    font-size: 16px;
  }
}