.btnLogIn {
    height: 50px;
    width: 90px;
    background-color: #515585;
    color: black;
    border: 1px solid #050001;
    color: #fff;
    border-radius: 9px;
    font-size: 14px;
    margin-left: 20px;
    margin-top: 10px;
}

.btnLogIn.valid {
    color: rgb(5, 234, 5);
}

.btnContLogIn {
    width: 220px;
    height: 100px;
    display: flex;
    margin-left: 300px;
    align-items: center;
}

@media (max-width: 576px) {
    .btnLogIn {
        height: 40px;
        width: 70px;
    }

    .btnContLogIn {
        width: 220px;
        height: 50px;
        margin-left: 250px;
    }
}