.Home {
    width: 100%;
    height: 97%;
    display: flex;
    justify-content: center;
}

.button {
    display: flex;
    flex-direction: column;
    width: 125px;
    height: 80px;
    background-color: #5F6F94;
    border-radius: 20px;
    margin-top: 10px;
    font-size: 17px;
    padding-top: 4px;
}

@media (min-width: 360px) and (max-width: 932px) {
    .Home {
        width: 360px;
        height: 100%;
        display: flex;
        justify-content: center;
    }

    .button {
        width: 60px;
        height: 70px;
        border-radius: 15px;
        font-size: 13px;
    }
}