.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 0;
}

.contForH1Icon {
    display: flex;
    flex-direction: row;
    width: 500px;
    justify-content: center;
}

.iconReg {
    margin-top: 20px;
    height: 50px !important;
    width: 60px !important;
    color: #5F6F94 !important;
}

.h1 {
    font-size: 45px;
    width: 250px;
    height: 50px;
    color: #fff;
    margin-right: 95px;
}

@media (min-width: 360px) and (max-width: 932px) {
    .App {
        min-width: 360px;
    }

    .contForH1Icon {
        width: 300px;
    }

    .h1 {
        font-size: 35px;
        width: 120px;
        height: 40px;
        margin-right: 80px;
    }

    .iconReg {
        margin-top: 10px;
        height: 40px !important;
        width: 50px !important;
        justify-content: none;
    }
}